<script type="text/javascript">
    $(document).ready(function(){

        $(".lazy").lazy();

        var number1 = $("#number1");
        var number2 = $("#number2");
        var number3 = $("#number3");
        var number4 = $("#number4");
        var number5 = $("#number5");
        var img1 = $("#img1");
        var img2 = $("#img2");
        var img3 = $("#img3");

        window.onscroll = function(e){
        if(!number1.hasClass("watched")) {
        if(isInLoadableArea(number1)) {
        number1.css({'opacity': 1});
        number1.addClass("animated slideInLeft watched");
        }
        }

        if(!number2.hasClass("watched")) {
        if(isInLoadableArea(number2)) {
        number2.css({'opacity': 1});
        number2.addClass("animated slideInRight watched");
        }
        }

        if(!number3.hasClass("watched")) {
        if(isInLoadableArea(number3)) {
        number3.css({'opacity': 1});
        number3.addClass("animated slideInLeft watched");
        }
        }

        if(!img1.hasClass("watched")) {
        if(isInLoadableArea(img1)) {
        setTimeout(function() {
        img1.css({'opacity': 1});
        img1.addClass("animated rollIn watched");
        }, 500);
        }
        }

        if(!number4.hasClass("watched")) {
        if(isInLoadableArea(number4)) {
        number4.css({'opacity': 1});
        number4.addClass("animated slideInRight watched");
        }
        }

        if(!number5.hasClass("watched")) {
        if(isInLoadableArea(number5)) {
        setTimeout(function() {
        number5.css({'opacity': 1});
        number5.addClass("animated slideInLeft watched");
        }, 500);
        }
        }
        }

        function isInLoadableArea(elem) {
        var top = $(window).scrollTop();
        var bot = top + $(window).height();
        var elementTop = $(elem).offset().top;
        var elementBottom = elementTop + $(elem).height();

        return ((elementBottom >= top) && (elementTop <= bot)
        || (elementBottom <= bot) && (elementTop >= top) );
        }

    });
</script>