// Breakpoint variables
// ====================================================================
$XS: 20em; // roughly speaking, around 320px wide with 16px body font
$S: 30em; // roughly speaking, around 480px wide with 16px body font
$M: 45em; // roughly speaking, around 720px wide with 16px body font
$L: 60em; // roughly speaking, around 960px wide with 16px body font
$XL: 72em; // roughly speaking, around 1152px wide with 16px body font

// Colors
$main-color: #5d5d5d;
$hover-color: #508abb;
$delcolor: #f0f0f0;
$backviolete: #6c477c;