@(posts: Seq[io.prismic.Document], authors: Seq[io.prismic.Document])(implicit ctx: Prismic.Context)

@import Html._

@main("Информационно-аналитический молодежный портал", Option("big"), Option(posts.take(1).head), Option(authors)){
    <section class="dg-feed">
        <div class="container">
            <div class="dg-feed__filter">
                <p class="dg-feed__filter__choose">Выберите раздел</p>
                <dl class="dg-feed_filter__section dropdown">
                    <dt><a><span class="dg-feed_filter__section__content">ВСЕ РАЗДЕЛЫ</span><span class="icon-arrow-down"></span></a></dt>
                    <dd>
                        <ul>
                            <li><a class="default selected">Все разделы</a></li>
                            <li><a>Известия</a></li>
                            <li><a>К.О.Н.</a></li>
                            <li><a>Смысловое взаимодействие</a></li>
                            <li><a>Хранилище образов</a></li>
                            <li><a>Домостроительство</a></li>
                            <li><a>Преображение действительности</a></li>
                            <li><a>Сетевое добровольчество</a></li>
                            <li><a>Властеправие</a></li>
                            <li><a>Мировоззрение</a></li>
                        </ul>
                    </dd>
                </dl>
            </div>

            <div class="dg-feed__social">

                <ul>
                    <li>
                        <a href="#" class="dg-feed__social__twitter">
                            <div class="social-peoples social-twitter">1 568</div>
                            <span class="twitter-icon"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dg-feed__social__facebook">
                            <div class="social-peoples social-facebook">1 568</div>
                            <span class="facebook-icon"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dg-feed__social__vkontakte">
                            <div class="social-peoples social-vkontakte">10 870</div>
                            <span class="vkontakte-icon"></span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        @* PLUSO script *@
        <script type="text/javascript">(function() {
        if (window.pluso)if (typeof window.pluso.start == "function") return;
        if (window.ifpluso==undefined) { window.ifpluso = 1;
        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
        var h=d[g]('body')[0];
        h.appendChild(s);
        }})();</script>
        @* PLUSO script end *@
        
        <div class="container-metro dg-feed__content">
                    @for((post, count) <- posts.zipWithIndex){
                        @if(count == 0) {
                            <div class="box-6col">
                                <a href="@routes.Application.blogPost(post.id, post.slug)" class="dg-feed__image box-6col-imgwrapper" @post.getImage("blog.image", "postthumb").map {img => style="background-image: url(@img.url)}">
                                <span class="read-more button">ЧИТАТЬ</span>
                                </a>
                                <div class="clear"></div>
                                <div class="dg-feed__info">
                                    <div class="dg-feed__info__util">
                                        <p class="dg-feed__info__util__sector">@post.getText("blog.category").getOrElse("Общая")</p>
                                        <p class="dg-feed__info__util__time">@post.getText("blog.body").map{text => @{text.length/900}} мин</p>
                                    </div>
                                    <div class="dg-feed__info__header">
                                        <h2>@post.getText("blog.title").map{title => @title}</h2>
                                    </div>
                                    <div class="dg-feed__info__tags">
                                        <ul>
                                        @post.tags.map { tag =>
                                            <li>#@tag</li>
                                        }
                                        </ul>
                                    </div>
                                    <hr class="delimeter-white">
                                    <ul class="dg-feed__info__actions">
                                        <li>
                                            <div class="pluso dg-feed__info__actions--repost" data-background="none;" data-options="medium,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="" data-url="@routes.Application.blogPost(post.id, post.slug)" data-user="1194849155"></div>
                                        </li>
                                        <li>
                                            <a href="#" class="dg-feed__info__actions--like"></a>
                                        </li>
                                        <li>
                                            <a href="@routes.Application.blogPost(post.id, post.slug)#disqus_thread" class="dg-feed__info__actions--comment">0</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        @if(count == 1) {
                            <div class="box-6col-horizont">
                                <a href="@routes.Application.blogPost(post.id, post.slug)" class="dg-feed__image box-6col-horizont-imgwrapper feed--arrow" @post.getImage("blog.image", "postthumb").map {img => style="background-image: url(@img.url)}">
                                    <span class="read-more button">ЧИТАТЬ</span>
                                </a>

                                <div class="dg-feed__info--horizont">
                                    <div class="dg-feed__info__util">
                                        <p class="dg-feed__info__util__sector">@post.getText("blog.category").getOrElse("Общая")</p>
                                        <p class="dg-feed__info__util__time">@post.getText("blog.body").map{text => @{text.length/900}} мин</p>
                                    </div>
                                    <a href="@routes.Application.blogPost(post.id, post.slug)" class="dg-feed__info__header">
                                        <h2>@post.getText("blog.title").map{title => @title}</h2>
                                    </a>
                                    <div class="dg-feed__info__tags">
                                        <ul>
                                            @post.tags.map { tag =>
                                                <li>#@tag</li>
                                            }
                                        </ul>
                                    </div>
                                    <hr class="delimeter-gray">
                                    <ul class="dg-feed__info__actions">
                                        <li>
                                            <div class="pluso dg-feed__info__actions--repost" data-background="none;" data-options="medium,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="" data-url="@routes.Application.blogPost(post.id, post.slug)" data-user="1194849155"></div>
                                        </li>
                                        <li>
                                            <a href="#" class="dg-feed__info__actions--like"></a>
                                        </li>
                                        <li>
                                            <a href="@routes.Application.blogPost(post.id, post.slug)#disqus_thread" class="dg-feed__info__actions--comment">0</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        @if(count == 2) {
                            <div class="box-6col-horizont">

                                <a href="@routes.Application.blogPost(post.id, post.slug)" class="dg-feed__image box-6col-horizont-imgwrapper box--left feed--arrow" @post.getImage("blog.image", "postthumb").map {img => style="background-image: url(@img.url)}">
                                    <span class="read-more button">ЧИТАТЬ</span>
                                </a>

                                <div class="dg-feed__info--horizont box--right">
                                    <div class="dg-feed__info__util">
                                        <p class="dg-feed__info__util__sector">@post.getText("blog.category").getOrElse("Общая")</p>
                                        <p class="dg-feed__info__util__time">@post.getText("blog.body").map{text => @{text.length/900}} мин</p>
                                    </div>
                                    <a href="@routes.Application.blogPost(post.id, post.slug)" class="dg-feed__info__header">
                                        <h2>@post.getText("blog.title").map{title => @title}</h2>
                                    </a>
                                    <div class="dg-feed__info__tags">
                                        <ul>
                                            @post.tags.map { tag =>
                                                <li>#@tag</li>
                                            }
                                        </ul>
                                    </div>
                                    <hr class="delimeter-gray">
                                    <ul class="dg-feed__info__actions">
                                        <li>
                                            <div class="pluso dg-feed__info__actions--repost" data-background="none;" data-options="medium,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="" data-url="@routes.Application.blogPost(post.id, post.slug)" data-user="1194849155"></div>
                                        </li>
                                        <li>
                                            <a href="#" class="dg-feed__info__actions--like"></a>
                                        </li>
                                        <li>
                                            <a href="@routes.Application.blogPost(post.id, post.slug)#disqus_thread" class="dg-feed__info__actions--comment">0</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        }
                        @if(count == 3) {
                            <div class="box-12col-horizont">

                                <a href="@routes.Application.blogPost(post.id, post.slug)" class="dg-feed__image box-6col-horizont-imgwrapper box-3col-horizont-imgwrapper feed--arrow" @post.getImage("blog.image", "postthumb").map {img => style="background-image: url(@img.url)}">
                                    <span class="read-more button">ЧИТАТЬ</span>
                                </a>

                                <div class="dg-feed__info--horizont box-9col-horizont">

                                    <div class="dg-feed__info__util">
                                        <p class="dg-feed__info__util__sector">@post.getText("blog.category").getOrElse("Общая")</p>
                                        <p class="dg-feed__info__util__time">@post.getText("blog.body").map{text => @{text.length/900}} мин</p>
                                    </div>
                                    <a href="@routes.Application.blogPost(post.id, post.slug)" class="dg-feed__info__header">
                                        <h2>@post.getText("blog.title").map{title => @title}</h2>
                                    </a>
                                    <div class="dg-feed__info__tags">
                                        <ul>
                                            @post.tags.map { tag =>
                                                <li>#@tag</li>
                                            }
                                        </ul>
                                    </div>
                                    <hr class="delimeter-gray">

                                    <ul class="dg-feed__info__actions">
                                        <li>
                                            <div class="pluso dg-feed__info__actions--repost" data-background="none;" data-options="medium,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="" data-url="@routes.Application.blogPost(post.id, post.slug)" data-user="1194849155"></div>
                                        </li>
                                        <li>
                                            <a href="#" class="dg-feed__info__actions--like"></a>
                                        </li>
                                        <li>
                                            <a href="@routes.Application.blogPost(post.id, post.slug)#disqus_thread" class="dg-feed__info__actions--comment">0</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        }
                    }
            </div>

        <div class="clear"></div>
    
        <div class="empty-posts">
            <div class="container">
                <h2 class="empty-posts-text">В данной категории еще нет статей</h2>
            </div>
        </div>
        @if(posts.length > 4) {
            <div class="dg-feed__btn-wrapper">
                <a class="dg-feed__btn" href="#" data-next-page="2">
                    <span class="load-icon"></span>
                    <span>ЕЩЕ СТАТЬИ</span>
                </a>
            </div>
        }

        <div class="clear"></div>
    </section>

    @* DISQUS comment count *@
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'diapost-portal'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
}
